@import 'variables.scss';

.projects-dialog {
  border: 1px solid lightgrey;
  padding: 10px;
  background: #40423a;
  color: white;
  font-family: $app-font;
  margin-top: 100px;
  min-width: 500px;
  min-height: 500px;

  display: flex;
  flex-direction: column;

  .title {
    font-size: 25px;

    img {
      height: 30px;
      vertical-align: middle;
      margin-right: 20px;
    }

    span {
      font-weight: bold;
      position:sticky;
      display: block;
      
      text-align: center;
      top: 2px;
    }

    i {
      float: right;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: $highlight-color;
      }
    }

    margin-bottom: 10px;
  }

  .projects-list {
    overflow: auto;
    height: 100px;
    flex: 1;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    font-size: 14px;

    div {
      padding: 4px;
      cursor: default;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    div.selected {
      background: cornflowerblue;
    }
  }

  .buttons {
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    height:60px;
  }
}

.new-project-dialog {
  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 250px;
    padding: 2px;
  }
  .radio {
    width: auto;
    padding: 2px;
  }
  .message {
    color: red;
    font-size: 14px;
  }
}